<!-- include header-->

<%- include('include/__header')%>

    <!-- /include header-->

    <!-- Hero section -->
    <main id="site-main">
        <div class="container">
            <div class='box-nav d-flex-justify-between'>
                <div class="filter">
                    <a href="/"><i class="fas fa-arrow-left"></i>All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to update an existing account</span>

            </div>

            <!-- Updating User Form-->

            <!-- Form handling-->
            <form method='POST' id='update_user'>
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id%>">
                        <input type="text" name="name" value="<%= user.name%>" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="<%= user.email%>" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id='radio-sub-1' name="gender" value="Male" <%=user.gender=='Male'
                                ?'checked':""%>>
                            <label for=" radio-sub-1" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-sub-2" name="gender" value="Female" <%=user.gender=='Female'
                                ?'checked':""%>>
                            <label for=" radio-sub-2" class="radio-label">Female</label>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-light">Status</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-sub-3" name="status" value="Active"
                                    <%=user.status=='Active' ?'checked':""%>>
                                <label for=" radio-sub-3" class="radio-label">Active</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" id="radio-sub-4" name="status" value="Inactive"
                                    <%=user.status=='Inactive' ?'checked':""%>>
                                <label for=" radio-sub-4" class="radio-label">Inactive</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type='submit' class='btn text-dark update'>Submit</button>
                        </div>
                    </div>
            </form>

        </div>
    </main>
    <!-- /Hero section -->


    <!-- include footer-->

    <%- include('include/__footer')%>

        <!-- /include footer-->